:root {
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color: #222;
	background-color: #ffffff;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
	background-color: #ffffff;
	
}

.App {
	max-width: 1280px;
	margin: 0 auto;
	text-align: center;
}


@media (max-width: 639px) {
	#app {
		margin: 2rem;
	}
	section {
		margin-top: 5rem;
		grid-template-columns: 1fr;
		row-gap: 1rem;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		color: #ccc;
		background-color: #1a1a1a;
	}
	.resource {
		color: #ccc;
		background-color: #161616;
	}
	.resource:hover {
		border: 1px solid #bbb;
	}
}


h2 {
	
	color: #fefefe;
	font-weight: bold;
	font-size: 32px;
}



.App {
	background-color: rgb(3, 127, 252);
    border-radius: 10%;
    box-shadow: 15px 15px 15px rgba(1,1,1.1);
	border-color: -moz-linear-gradient(top, #555555, #111111);
    width: 450px;
	padding: 20px 0 70px 0;

}

 
 